.Loading_box {
    display: flex;
    margin: 0 auto;
    height: auto;
    line-height: auto;
    background-color: rgba(0, 0, 0, 0.432);
}

.Loading_box>div {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: large;
    margin: 0 auto;
    overflow: auto;
}