.Loading_box {
    z-index: 1000;
    position: fixed;
    height: 40vh;
    width: 40vh;
    border-radius: 10px;
    background-color: black;
}

#Loading_box_img {


    /*动画*/
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation: myfirst 5s;
    -webkit-animation: myfirst 5s;
}

#Loading_box_word {}


/*动画*/
@keyframes myfirst {
    from {
        background: red;
    }

    to {
        background: yellow;
    }
}

@-webkit-keyframes myfirst

/* Safari and Chrome */
    {
    from {
        background: red;
    }

    to {
        background: yellow;
    }
}