.Search_Bar {
    margin: 0 auto;
    width: 80%;
    height: 10%;
    margin-bottom: 10px;
    background-color: aquamarine;
}

.Search_Bar_language {}

.Search_Bar_Select {}

.Search_Bar_Box {
    margin: 0 auto;
    text-align: center;
    font-size: large;
    width: 15%;
}

.Search_Bar_Button {}