.Search_Bar {
    margin: 0 auto;
    width: 90%;
    height: 5%;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
}

.Search_Bar_language {
    margin: 0 auto;
    text-align: center;
    font-size: large;
    width: 30%;
    height: 4.95vh;
}

.Search_Bar_Select {
    margin: 0 auto;
    text-align: center;
    font-size: medium;
    width: 30%;
    height: 4.95vh;
}

.Search_Bar_Box {
    margin: 0 auto;
    text-align: center;
    font-size: x-small;
    width: 10%;
    height: 4.4vh;
}

.Search_Bar_Button {
    margin: 0 auto;
    text-align: center;
    font-size: medium;
    width: 15%;
    height: 4.95vh;
}