.Search_Bar {
    margin: 0 auto;
    width: 90%;
    height: 10%;
    margin-bottom: 10px;
    background-color: aquamarine;
}

.Search_Bar_language {}

.Search_Bar_Select {
    margin: 0 auto;
    text-align: center;
    font-size: large;
    width: 30%;
    height: 100%;
}

.Search_Bar_Box {
    margin: 0 auto;
    text-align: center;
    font-size: medium;
    width: 20%;
    height: 100%;
}

.Search_Bar_Button {}