.Sides_Bar {
    margin-left: 0px;
    background-color: brown;
    width: 17%;
    height: 100%;
    overflow: auto;
}

.Sides_Bar>hr{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.Sides_Bar>div {
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: x-large;
    line-height: 1;
}

.Sides_Bar>div>div {
    margin-left: 3%;
    margin-right: 3%;
    color: rgb(255, 255, 255);
   margin: 0 auto;
   text-align: center;
   font-family: Courier, monospace;
}