.Words_Part{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 83%;
}

.Words_Part_Fill{
    margin-top: 5%;
    margin-left: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
}