.Words_Part{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 83%;
    overflow: auto;
}

.Words_Part_Fill{
    margin-top: 5%;
    margin-right: 6%;
    margin-left: 6%;
    margin-bottom: 5%;
}